<div class="error-box">
  <div class="error-body text-center">
    <div id="notfound">
      <div class="notfound">
        <div class="notfound-404" style="margin-top: -300px;">
          <h3>Oops! Page not found</h3>
          <h1><span>4</span><span>0</span><span>4</span></h1>
        </div>
        <h2>we are sorry, but the page you requested was not found</h2><br>
        <a class="btn btn-info btn-rounded waves-effect waves-light m-b-40" href="/">Back to home</a>
      </div>
    </div>
    <a class="btn btn-info btn-rounded waves-effect waves-light m-b-40" href="/">Back to home</a>
  </div>
</div>
