<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<h3> Dashboard</h3>
<div class="row">
  <div class="col-md-6">
    <app-product-activity-list></app-product-activity-list>
  </div>
  <div class="col-md-6">
    <app-user-activity-list></app-user-activity-list>
  </div>  
</div>
<div class="row">
  <div class="col-md-6">
    <app-order-activity-list></app-order-activity-list>
  </div>
  <div class="col-md-6">
    <app-quotation-activity-list></app-quotation-activity-list>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <app-college-activity-list></app-college-activity-list>
  </div>
  <div class="col-md-6">
    <app-miscellaneous-activity-list></app-miscellaneous-activity-list>
  </div>
</div>

<!--
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
-->